:root {
	--basic-white: #ffffff;
	--background-index-1: #849d8f;
	--background-index-2: #8996a6;
	--background-index-3: #9d8b84;
	--light-black: #323232;
	--basic-brick: linear-gradient(180deg, #f26843 0%, #e74a35 100%);
	--light-brick: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)),
		linear-gradient(180deg, #f26843 0%, #e74a35 100%);
	--brick-hover: linear-gradient(0deg, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)),
		linear-gradient(180deg, #f26843 0%, #e74a35 100%);
}
@font-face {
	font-family: "Roboto";
	src: local("fonts");
}

body {
	min-width: 960px;
	margin: 0;
	padding: 0;
	font-weight: bold;
	font-size: 16px;
	line-height: 18px;
	font-family: "Roboto";
	background-color: var(--background-index-1);
	color: var(--basic-white);
}

.site-navigation li {
	list-style-type: none;
}
.site-navigation a {
	color: var(--basic-white);
}
.site-navigation a:active {
	background-color: var(--brick-hover);
}
img {
	max-width: 100%;
	height: auto;
}

.bread-crunch {
	font-weight: normal;
	font-size: 14px;
	line-height: 16px;
}
.visually-hidden {
	display: none;
}
