:root {
	--basic-text-color: #ffffff;
	--basic-color-bg: #ededed;
	--bg-color-hover-: rgba(255, 255, 255, 0.2);
	--bg-color-main: #849d8f;
	--bg-color-secondary: #8996a6;
	--bg-color-last: #9d8b84;
	--basic-text-color-hover: #323232;
	--button-color: #f26843;
	--button-color-hover: #e74a35;
	--button-color-active: #d07058;
	--button-shadow: rgba(172, 16, 0, 0.25);
	--link-color: #ffbc9e;
	--input-active: #5b9ddf;
	--input-hover: #d3d3d3;
	--field-shadow: #56645c;
	--field-background: var(--field-background);
	--line: rgba(50, 50, 50, 0.2);
}

body {
	font-weight: bold;
	font-size: 16px;
	line-height: 18px;
	font-family: "Roboto", "Arial", sans-serif;
	color: var(--basic-text-color);
	background-color: var(--bg-color-main);
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}
img {
	max-width: 100%;
	height: auto;
}
/*
_______________link__________*/

.site-navigation a,
.contacts-link,
.promo a,
.popular a,
.standarts a,
.list-item a,
.paginator a,
.copyright a {
	color: var(--basic-text-color);
}

.standarts a:hover,
.standarts a:active,
.copyright a:hover,
.copyright a:active,
.bread-crumb-link:hover,
.bread-crumb-link:focus,
.news-link:hover,
.news-link:active,
.popular-item a:hover,
.popular-item a:active,
.popular-item a:hover,
.list-item a:hover,
.popular-item a:active,
.list-item a:active {
	color: var(--link-color);
}

.standarts a,
.copyright a,
.site-navigation-link,
.popular-item a,
.list-item a {
	border-bottom: 1px solid var(--bg-color-hover-);
}
/*
______________grid_____________
 */

.page-body {
	display: grid;
	grid-template-rows: min-content 1fr min-content;
}
.container {
	width: 1146px;
	margin: 0 auto;
	padding: 0px 27px;
}
.site-wrapper {
	background-repeat: no-repeat;
	background-position: 50% 3%;
}
.site-wrapper-1 {
	background-color: var(--bg-color-main);
	background-image: url("../img/slider-1.png");
}

.site-wrapper-2 {
	background-color: var(--bg-color-secondary);
	background-image: url("../img/slider-2.png");
}

.site-wrapper-3 {
	background-color: var(--bg-color-last);
	background-image: url("../img/slider-3.png");
}
/*header grid*/
.page-header {
	padding-top: 8px;
}
.main-navigation {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
/* logo in header */
.main-header-logo {
	display: flex;
	margin-right: 12px;
}
/*.site-navigation*/
.site-navigation {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
	list-style: none;
	margin-right: auto;
}
.site-navigation-item {
	margin-top: 5px;
	padding-top: 7px;
	padding-bottom: 18px;
}

.site-navigation-link,
.site-navigation-link--active {
	display: block;
	margin: 8px 15px 6px 15px;
	padding: 0;
	font-size: 16px;
	line-height: 18px;
}

.site-navigation-item:hover .site-navigation-link,
.site-navigation-link:active {
	margin: 0;
	margin-right: 4px;
	margin-left: 1px;
	padding: 7px 11px 6px 14px;
	font-weight: 700;
	color: var(--basic-text-color-hover);
	border-radius: 26px;
	background: var(--basic-text-color);
}
.site-navigation-link:active {
	box-shadow: inset 0px 2px 1px var(--field-shadow);
}
.site-navigation-link--active {
	position: relative;
	margin: 0;
	margin-right: 4px;
	margin-left: 1px;
	padding: 7px 11px 6px 14px;
	background-color: var(--button-color-active);
	border: 0;
	border-radius: 26px;
}
/*  submenu*/

.site-navigation-item:first-child {
	position: relative;
}
.submenu {
	display: none;
	position: absolute;
	top: 45px;
	left: -7px;
	width: 143px;
	min-height: 171px;
	background-color: var(--basic-text-color);
	border-radius: 5px;
	list-style: none;
	margin: 0;
	padding: 0;
	box-shadow: 2px 10px 20px 5px var(--field-shadow);
}

.submenu-item {
	margin-bottom: 5px;
}
.submenu-item .submenu-link {
	color: var(--basic-text-color-hover);
	display: block;
	padding: 6px;
	padding-top: 6px;
	padding-left: 20px;
	font-size: 14px;
	line-height: 16px;
	text-decoration: none;
	font-weight: normal;
}
.site-navigation-item:hover .submenu {
	display: block;
	z-index: 1;
}

/* submenu link styles */

.submenu-item .submenu-link-first {
	position: relative;
	margin-top: 8px;
	font-weight: bold;
	border-bottom: 1px solid var(--line);
}
.submenu-item .submenu-link:hover {
	background-color: #fbded7;
}
.submenu-item .submenu-link:active {
	background-color: var(--link-color);
}
.submenu-item .submenu-link-active {
	background: var(--button-color-active);
}
/* user-navigation */
.user-navigation {
	display: flex;
	margin: 0;
	padding: 0;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	list-style: none;
}
.user-navigation-item {
	box-sizing: border-box;
	margin-left: 10px;
	padding: 5px;
	align-self: center;
}

/*____________user-navigation-buttons__________*/
.search-button {
	position: relative;
	display: block;
	border-radius: 50%;
	width: 32px;
	height: 32px;
	background: url(../img/loupe.svg) var(--bg-color-hover-) no-repeat 50% 50%;
}
.search-button:hover {
	background: url(../img/loupe-black.svg) var(--basic-color-bg) no-repeat 50% 50%;
}
/*search-form */
.search-form {
	display: none;
	position: absolute;
	top: 39px;
	right: -7px;
	padding: 20px 15px;
	background-color: #f8f7f4;
	box-shadow: 3px 5px 25px 3px var(--field-shadow);
	border-radius: 4px;
}
.search-button:hover .search-form {
	display: block;
	z-index: 1;
}
.search-form input {
	padding-left: 13px;
	width: 311px;
	padding: 15px;
	border: 1px solid var(--input-hover);
	background-color: var(--basic-text-color);
}
/* input conditions */
.search-form input:hover,
.login-field input:hover,
.subscription-container input:hover,
.popup-field:hover,
.popup-textarea:hover {
	border: 2px solid var(--input-hover);
}

.search-form input:focus,
.login-field input:focus,
.subscription-container input:focus,
.popup-field:focus,
.popup-textarea:focus {
	border: 2px solid var(--input-active);
	font-size: 16px;
	line-height: 30px;
	font-weight: bold;
	padding-left: 13px;
	outline: none;
}
.login-button {
	position: relative;
	display: block;
	padding-left: 45px;
	height: 32px;
	width: 92px;
	padding-top: 8px;
	background: url("../img/entrance.svg") var(--bg-color-hover-) no-repeat 16px center;
	border-radius: 30px;
}
.login-button:hover {
	background: url("../img/entrance-black.svg") var(--basic-color-bg) no-repeat 16px center;
	color: var(--basic-text-color-hover);
}
/*login form  */

.login-field {
	position: absolute;
	display: none;
	flex-wrap: wrap;
	justify-content: space-around;
	top: 40px;
	right: 0;
	background-color: #f8f7f4;
	border-radius: 5px;
	box-shadow: 3px 5px 25px 3px var(--field-shadow);
	padding: 20px 17px 20px 19px;
}
.login-button:hover .login-field {
	display: flex;
	z-index: 1;
}
.login-field input {
	flex-grow: 1;
	width: 241px;
	padding: 15px;
	border-radius: 5px;
	border: 1px solid var(--input-hover);
}
.login-form-button {
	width: 102px;
	outline: none;
	border: none;
	font-size: 18px;
	font-weight: bold;
	line-height: 24px;
	border-radius: 26px;
	background: linear-gradient(180deg, #f26843 0%, #e74a35 100%);
	box-shadow: 0px 1px 2px var(--button-shadow);
	color: var(--basic-text-color);
}
.login-text {
	width: 140px;
	display: flex;
	flex-wrap: wrap;
	margin-left: 18px;
}
.login-text a {
	color: var(--basic-text-color-hover);
	margin-bottom: 9px;
	border-bottom: 1px solid var(--basic-color-bg);
	font-weight: normal;
	font-size: 13px;
	line-height: 15px;
}
.basket-button {
	display: block;
	height: 32px;
	width: 100px;
	padding-left: 45px;
	padding-top: 8px;
	background: url("../img/basket.svg") var(--bg-color-hover-) no-repeat 16px center;
	border-radius: 30px;
}
.basket-full {
	display: block;
	position: relative;
	height: 32px;
	width: 117px;
	padding-left: 45px;
	padding-top: 8px;
	background: url("../img/basket.svg") var(--bg-color-hover-) no-repeat 16px center;
	border-radius: 30px;
}
.basket-full:hover {
	display: block;
	height: 32px;
	width: 117px;
	padding-left: 45px;
	padding-top: 8px;
	background: url("../img/basket-red.svg") var(--basic-text-color) no-repeat 16px center;
	border-radius: 30px;
	color: var(--basic-text-color-hover);
}
/*basket table */
.basket-full:hover .table-form {
	display: block;
	z-index: 1;
}
.table-form {
	display: none;
	position: absolute;
	top: 40px;
	right: 0;
	min-width: 490px;
	border-radius: 5px;
	background-color: var(--basic-text-color);
	color: var(--basic-text-color-hover);
}
table {
	position: relative;
	display: flex;
	justify-content: space-between;
	font-weight: normal;
	font-size: 13px;
	line-height: 16px;
	border-bottom: 1px solid var(--line);
	padding-top: 20px;
	padding-left: 17px;
	padding-right: 15px;
	margin-bottom: 85px;
}
table .basket-item {
	padding-left: 9px;
	padding-bottom: 20px;
}
.basket-item .basket-full-delete {
	width: 11px;
	height: 11px;
	padding: 0;
	background-color: inherit;
	border: 0;
	vertical-align: center;
	background-image: url("../img/cross-small.svg");
}
.basket-item .basket-price {
	color: #ababab;
}
.basket-button-link {
	position: absolute;
	right: 20px;
	bottom: 10px;
	outline: none;
	border: none;
	font-size: 18px;
	font-weight: bold;
	line-height: 16px;
	border-radius: 26px;
	background: linear-gradient(180deg, #f26843 0%, #e74a35 100%);
	box-shadow: 0px 1px 2px var(--button-shadow);
	color: var(--basic-text-color);
	padding: 13px 10px;
	text-align: center;
}
.table-form p {
	position: absolute;
	right: 20px;
	bottom: 50px;
	margin-top: 15px;
	margin-bottom: 13px;
	font-weight: 700;
	font-size: 15px;
}
/*____contacts_________*/

.contacts {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.contacts-shedule {
	font-weight: bold;
	font-size: 14px;
	line-height: 16px;
}

.contacts-link {
	font-weight: bold;
	font-size: 22px;
	line-height: 24px;
}
/*  main */
.controls {
	position: absolute;
	bottom: 63px;
	left: 0;
	z-index: 20;
	display: flex;
	width: 67px;
	justify-content: space-between;
	list-style: none;
}
.controls button {
	padding: 0;
	width: 17px;
	height: 17px;
	background-color: transparent;
	border: 2px solid var(--basic-text-color);
	border-radius: 50%;
	cursor: pointer;
}
.controls button:hover {
	background-color: var(--bg-color-hover-);
}
.controls .current {
	background-color: var(--basic-text-color);
}
/*    slider   */
.slider {
	position: relative;
	padding-top: 321px;
	text-align: center;
	color: var(--basic-text-color);
	margin-bottom: 30px;
}
.slider-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.slider-list-item h3 {
	width: 700px;
	margin: 0 auto;
	margin-bottom: 27px;
	font-size: 60px;
	line-height: 60px;
	font-weight: 800;
}
.list-item-link {
	display: inline-block;
	padding: 12px 44px;
	font-weight: 600;
	font-size: 31px;
	line-height: 41px;
	text-align: center;
	color: var(--basic-text-color);
	vertical-align: top;
	text-decoration: none;
	text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
	background: #f26843;
	background: linear-gradient(to bottom, #f26843, #e74a35);
	border-radius: 50px;
	box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
	border: none;
	cursor: pointer;
}
.slide {
	display: none;
}
.slide-current {
	display: block;
}
/* promo */
.promo-list {
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin-bottom: 40px;
	gap: 26px;
	padding: 0;
	list-style: none;
}
.promo-list h3 {
	font-weight: bold;
	font-size: 35px;
	line-height: 41px;
	padding: 16px;
	margin: 0;
}
.promo-list p {
	margin: 0;
	padding: 16px;
	font-size: 18px;
	line-height: 22px;
}
.promo-item-rasberry {
	position: relative;
	height: 229px;
	background: url(../img/rasberry-background.jpg) no-repeat;
	border-radius: 16px;
}
.promo-item-chocolate {
	position: relative;
	height: 229px;
	background: url(../img/chocolate-background.jpg) no-repeat;
	border-radius: 16px;
}
.promo-list a {
	position: absolute;
	top: 159px;
	right: 22px;
	color: var(--basic-text-color);
	border-radius: 26px;
	background: linear-gradient(180deg, #f26843 0%, #e74a35 100%);
	box-shadow: 0px 2px 2px rgba(172, 16, 0, 0.64);
	padding: 15px 22px;
}

/* ______________________________bread-crumbs _______________________*/

.bread-crumb {
	display: flex;
	justify-content: space-between;
	width: 224px;
	padding: 0;
	margin: 0;
	margin-top: -43px;
}

.bread-crumb li {
	list-style: none;
	font-weight: normal;
	font-size: 14px;
	line-height: 16px;
}

.bread-crumb-link {
	position: relative;
	color: var(--basic-text-color);
	border-bottom: 1px solid var(--bg-color-hover-);
}
.bread-crumb-link::after {
	content: ">>";
	position: absolute;
	top: 1px;
	right: -20px;
	color: var(--basic-text-color);
}

/*______popular + catalog item_____________*/
.popular {
	margin-bottom: 40px;
}
.popular-list {
	list-style: none;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	gap: 26px;
	margin: 0;
	padding: 0;
}
.popular-item img,
.list-item img {
	border-radius: 50%;
	margin-bottom: 13px;
}
.popular-item,
.list-item {
	position: relative;
}
.popular-item:hover,
.list-item:hover {
	background-color: var(--bg-color-hover-);
}
.popular-item p,
.list-item p {
	margin: 0;
	bottom: 106;
	position: absolute;
	bottom: 60px;
	left: 0;
}
.popular-item::after {
	content: url("../img/hit.svg");
	position: absolute;
	left: 0;
	top: 0;
	width: 61px;
	height: 61px;
}
/*___________________________features__________________________
 */
.features {
	color: var(--basic-text-color-hover);
	font-weight: normal;
	font-size: 16px;
	line-height: 22px;
	background-image: url("../img/pattern.png");
	border-radius: 16px;
}
.features h2 {
	font-weight: 500;
	font-size: 24px;
	line-height: 30px;
	margin: 0;
	padding: 24px 20px;
}
.feature-list {
	padding: 0;
	margin: 0;
	list-style: none;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	margin-bottom: 40px;
}

.feature-item {
	padding-bottom: 36px;
	padding-left: 75px;
	position: relative;
	width: 485px;
}
.feature-item:nth-child(2),
.feature-item:last-child {
	padding-right: 23px;
}

.feature-ice::before {
	position: absolute;
	top: 0;
	left: 20px;
	content: url("../img/ice-cream.svg");
}

.feature-eco::before {
	position: absolute;
	top: 0;
	left: 20px;
	content: url("../img/eco.svg");
}

.feature-cow::before {
	position: absolute;
	top: 0;
	left: 20px;
	content: url("../img/cow.svg");
}

.feature-thermometer::before {
	position: absolute;
	top: 0;
	left: 20px;
	content: url("../img/thermometer.svg");
}

/*
___________________news______________________
 */

.info {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 26px;
	margin-bottom: 40px;
}
.news {
	width: 540px;
	padding: 22px 0px 0px 20px;
	background: url(../img/strawberry-background.jpg) no-repeat;
	min-height: 198px;
	border-radius: 16px;
	color: var(--basic-text-color-hover);
}

.news h2 {
	margin: 0;
	margin-bottom: 5px;
	font-weight: 500;
	font-size: 16px;
	line-height: 22px;
}

.news-link {
	color: var(--basic-text-color-hover);
	display: inline-block;
	width: 290px;
	font-weight: bold;
	font-size: 24px;
	line-height: 30px;
	border: 0;
	text-decoration: underline;
	vertical-align: top;
}

/*subscription */

.subscription {
	width: 560px;
	min-height: 220px;
	border-radius: 16px;
	background: url("../img/bg-post.svg");
}
.subscription-container {
	width: 511px;
	margin: 0 auto;
	margin-top: 5px;
	padding: 29px 16px 0px 20px;
	min-height: 181px;
	vertical-align: middle;
	border-radius: 16px;
	background-color: var(--basic-color-bg);
}
.subscription-container p {
	margin: 0;
	margin-bottom: 37px;
	font-size: 16px;
	line-height: 22px;
	color: var(--basic-text-color-hover);
}
.subscription-container input {
	position: relative;
	display: inline-block;
	padding: 14px 12px;
	width: 368px;
	margin-right: 9px;
	border-radius: 5px;
	border: 1px solid var(--bg-color-hover-);
}

.subscription button {
	position: absolute;
	background-color: var(--button-color);
	color: var(--basic-text-color);
	font-weight: bold;
	font-size: 18px;
	line-height: 24px;
	border-radius: 70px;
	padding: 14px 12px;
	border: none;
	box-shadow: 0px 2px 2px var(--button-shadow);
}
/* button`s condition */
.subscription button:hover,
.adress button:hover,
.login-form-button:hover,
.popup-button:hover,
.list-item-link:hover,
.promo-button:hover {
	background-color: var(--button-color-hover);
	box-shadow: 0px 2px 2px var(--button-shadow);
}

.subscription button:active,
.adress button:active,
.login-form-button:active,
.popup-button:active,
.list-item-link:active,
.promo-button:active {
	background-color: var(--button-color-active);
	border-radius: 50px;
	box-shadow: inset 0px 2px 2px #942718;
}
/* filters */

.filter-container {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 40px;
}
fieldset {
	padding: 0;
	margin: 0;
	border: none;
}
.filter-list p {
	padding: 0;
	margin: 0;
	margin-bottom: 7px;
}
.select-title {
	display: block;
	margin-bottom: 7px;
}
.filter-select {
	margin-right: 15px;
	-webkit-appearance: none;
	appearance: none;
	width: 196px;
	height: 36px;
	border-radius: 20px;
	border: none;
	padding-left: 16px;
	color: var(--basic-text-color);
	background: var(--bg-color-hover-) url("../img/select-arrow.svg") no-repeat 170px center;
}
.filter-select:hover {
	background-color: var(--basic-text-color);
	color: var(--basic-text-color-hover);
}
.price-range {
	display: block;
	margin-bottom: 7px;
	margin-right: 15px;
}
.price-filter {
	position: relative;
	width: 218px;
	height: 19px;
	background-color: var(--bg-color-hover-);
	border-radius: 20px;
	margin-bottom: 15px;
	padding-top: 17px;
	padding-left: 21px;
	padding-right: 21px;
}

.price-filter .scale {
	background: var(--bg-color-hover-);
	height: 2px;
}
.price-filter .bar {
	position: absolute;
	left: 41px;
	width: 50%;
	background: var(--field-background);
	height: 2px;
}
.price-filter .toggle {
	position: absolute;
	top: 7px;
	width: 4px;
	height: 4px;
	padding: 0;
	border: 10px solid var(--basic-text-color);
	background-color: #ababab;
	border-radius: 50%;
}
.price-filter .toggle:hover {
	width: 5px;
	height: 5px;
}
.price-filter .toggle-min {
	left: 41px;
	cursor: pointer;
}
.price-filter .toggle-max {
	left: 172px;
	cursor: pointer;
}
legend {
	margin-bottom: 7px;
}
.fat-filter {
	display: flex;
	flex: wrap;
	list-style: none;
	margin: 0;
	padding: 12px 13px 0px;
	background-color: var(--bg-color-hover-);
	border-radius: 20px;
	height: 28px;
}
.fat-filter input {
	display: none;
}
.fat-filter label {
	margin-right: 12px;
	position: relative;
	padding-left: 46px;
	font-weight: 400;
	font-size: 16px;
	line-height: 18px;
}

.fat-filter input:checked + label::before {
	content: "";
	position: absolute;
	left: 18px;
	top: 3px;
	width: 10px;
	height: 10px;
	background-color: rgba(255, 255, 255, 0.8);
	border-radius: 50%;
}
.fat-filter label::after {
	content: "";
	position: absolute;
	left: 10px;
	top: -5px;
	width: 20px;
	height: 20px;
	border: 3px solid rgba(255, 255, 255, 0.8);
	border-radius: 50%;
}
.fat-filter input:checked:hover + label:hover::before {
	left: 19px;
	top: 4px;
	width: 10px;
	height: 10px;
	background: var(--basic-text-color);
}
.fat-filter label:hover::after {
	border: 4px solid var(--basic-text-color);
}

.topping-filter {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	padding: 0;
	margin: 0;
	background-color: var(--bg-color-hover-);
	border-radius: 20px;
	height: 21px;
	padding: 10px 3px 6px 16px;
	width: 700px;
}
.topping-filter label {
	margin-right: 16px;
	padding-left: 32px;
	position: relative;
	font-weight: 400;
	font-size: 16px;
	line-height: 18px;
}
.topping-filter input {
	display: none;
}
fieldset:last-of-type label::after {
	content: "";
	position: absolute;
	left: 0px;
	top: 0;
	width: 20px;
	height: 20px;
	border: 1px solid rgba(255, 255, 255, 0.8);
	border-radius: 3px;
}
fieldset:last-of-type label:hover::after {
	border: 2px solid var(--basic-text-color);
}

input[type=checkbox]:checked + label::before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 25px;
	height: 20px;
	background-color: inherit;
	background: url(../img/checkbox-on.svg) no-repeat;
}
.button-filter {
	margin: 24px 0 0 11px;
	padding: 5px 26px 5px 28px;
	font-weight: 500;
	background-color: var(--bg-color-hover-);
	border: 2px solid var(--basic-text-color);
	min-height: 37px;
	border-radius: 20px;
	color: var(--basic-text-color);
}
.button-filter:hover {
	background-color: var(--basic-text-color);
	color: var(--basic-text-color-hover);
}
.button-filter:active {
	background-color: var(--basic-text-color);
	color: var(--basic-text-color-hover);
	box-shadow: inset 0px 2px 1px var(--field-shadow);
	outline: none;
}
/*
________________________catalog__________________________ */
.catalog-list {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	list-style: none;
	margin: 0;
	padding: 0;
	gap: 26px;
	margin-bottom: 80px;
}
.list-item h3,
.popular-item h3 {
	margin: 0;
	padding: 0;
	font-weight: 400;
	font-size: 16px;
	line-height: 22px;
	text-align: center;
}

.list-item sub,
.popular-item sub {
	font-weight: bold;
	font-size: 30px;
	line-height: 35px;
}

.list-item p,
.popular-item p {
	font-weight: 700;
	font-size: 45px;
	line-height: 45px;
}

/*
_____________map____________
*/

.map {
	position: relative;
	width: 1200px;
	height: 430px;
	margin: 0 auto;
	background-color: #e9e1c2;
}

.adress {
	position: absolute;
	top: 63px;
	right: 27px;
	width: 238px;
	color: var(--basic-text-color-hover);
	font-weight: normal;
	font-size: 14px;
	line-height: 20px;
	background-color: var(--basic-text-color);
	border-radius: 16px;
	padding: 20px 20px;
}

.adress-text {
	font-weight: bold;
	font-size: 18px;
	line-height: 24px;
}
.adress p {
	margin-bottom: 30px;
}
.adress-button {
	background-color: var(--button-color);
	color: var(--basic-text-color);
	font-weight: bold;
	font-size: 18px;
	line-height: 24px;
	border-radius: 70px;
	padding: 13px 16px;
	width: 240px;
	border: none;
	box-shadow: 0px 2px 2px var(--button-shadow);
}

.adress a {
	color: var(--basic-text-color-hover);
}

/*
___________________footer_____________________
 */

.page-footer {
	border-top: 1px solid var(--bg-color-hover-);
	display: flex;
	justify-content: space-between;
	font-size: 13px;
	line-height: 18px;
	font-weight: normal;
	padding-top: 25px;
}

.social {
	display: flex;
	justify-content: space-between;
	list-style: none;
	width: 186px;
}

/* footer-icons */

.twitter-icon::before {
	content: url(../img/twitter.svg);
}

.instagram-icon::before {
	content: url(../img/instagram.svg);
}

.fb-icon::before {
	content: url(../img/fb.svg);
}

.vk-icon::before {
	content: url(../img/vk.svg);
}

.standarts li:first-child::before {
	position: absolute;
	top: 0;
	left: -20px;
	content: url(../img/heart.svg);
}

.standarts {
	position: relative;
	padding: 0;
	margin: 0;
	display: flex;
	flex-wrap: wrap;
	width: 327px;
	height: 37px;
	list-style: none;
}
.standarts li {
	text-align: left;
	font-size: 13px;
	line-height: 18px;
	padding-bottom: 11px;
}
.standarts-link {
	margin-right: 20px;
}

/* copyright */
.copyright {
	width: 190px;
}
.copyright p {
	margin: 0;
	padding: 0;
	font-size: 12px;
	line-height: 18px;
}
/*
___________________- paginator____________________
 */

.paginator {
	display: flex;
	justify-content: flex-end;
	list-style: none;
	margin: 0;
	margin-bottom: 30px;
}
.paginator a {
	box-sizing: border-box;
	display: block;
	width: 26px;
	height: 26px;
	margin-right: 12px;
	padding-top: 4px;
	border-radius: 50%;
	text-align: center;
	font-size: 16px;
	line-height: 18px;
}

li .paginator-active {
	color: var(--basic-text-color-hover);
	background-color: var(--basic-text-color);
}
.paginator a:hover:not(.paginator-active) {
	background-color: var(--bg-color-hover-);
}
.paginator a:active {
	background-color: var(--basic-text-color);
}
.paginator-next {
	background: url(../img/icon-right-small.svg) no-repeat 50% 50%;
}
/* subscribe-popup */
.subscribe-popup {
	display: none;
	position: fixed;
	top: 35%;
	left: 35%;
	width: 401px;
	padding: 17px 24px 26px 26px;
	color: var(--basic-text-color-hover);
	background-color: var(--field-background);
	border-radius: 9px;
	min-height: 400px;
}
.popup-field {
	width: 267px;
	height: 44px;
	padding-left: 14px;
	border: 1px solid var(--input-hover);
	background-color: var(--field-background);
}
.popup-textarea {
	padding-top: 16px;
	padding-left: 14px;
	width: 388px;
	height: 154px;
	border: 1px solid var(--input-hover);
	background-color: var(--field-background);
}
.popup-button {
	position: absolute;
	width: 140px;
	height: 40px;
	right: 20px;
	bottom: 10px;
	border-radius: 70px;
	color: var(--basic-text-color);
	background-color: var(--button-color);
	box-shadow: 0px 2px 2px rgba(172, 16, 0, 0.64);
	border: none;
}
.popup-close-button {
	border: none;
	width: 18px;
	height: 17px;
	position: absolute;
	background: url("../img/cross-big.svg") no-repeat 50% 50%;
	right: 10px;
	top: 10px;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	border: 0;
	clip: rect(0 0 0 0);
}
